<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
   -->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <script>window._trackJs = {token: '<%= htmlWebpackPlugin.options.trackJSToken %>'};</script>
  <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <% } %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>Sonic Gate</title>

<%# Set width for mobile views %>
<%# <meta name="viewport" content="width=device-width, initial-scale=1"/>%>

<%# ADD FONTS HERE %>
<%# <link href="" rel="stylesheet">
<link href="" rel="stylesheet">%>

<%# REMEMBER TO CREATE ANY SUPPORTING FILES FOR BELOW - IE THUMBNAIL IMAGES ETC. %>
<%# <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
<link rel="manifest" href="/manifest.json"/>
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"/>
<meta name="theme-color" content="#ffffff"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="thumbnail" content="./sonic-gate-thumb.jpg" />
<meta property="og:title" content="Sonic Gate"/>
<meta property="og:description" content="Sonic Gate is a web app where users can keep track of the music gear they own and use. It is a forum to share tips, brag about cool new gear, and, most importantly, provide a support network in case anything is ever lost or stolen."/>
<meta property="og:image" content="./sonic-gate-thumb.jpg"/>%>
<%# ADD HEROKU URL BELOW %>
<%# <meta property="og:url" content=""/>
<meta name="twitter:title" content="Sonic Gate"/>
<meta name="twitter:description" content="Sonic Gate is a web app where users can keep track of the music gear they own and use. It is a forum to share tips, brag about cool new gear, and, most importantly, provide a support network in case anything is ever lost or stolen."/>
<meta name="twitter:image" content="./sonic-gate-thumb.jpg"/>
<meta name="twitter:card" content="summary_large_image"/>%>

</head>
<body>
<div id="app"></div>
</body>
</html>
